<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gpmi - Gestão de Portifólio de Projetos</title>
  </head>
  <body>
    <div class="container">
        <div>
            <h1>{{ titulo }}</h1>
        </div>
       <a href="{{ url_for('new') }}">Novo Projeto</a>
        <table >
            <thead >
                <tr>
                    <th>Nome</th>
                    <th>Descricao</th>
                </tr>
            </thead>
            <tbody>
                {% for projeto in projetos %}
                    <tr>
                        <td>{{ projeto.nome }}</td>
                        <td>{{ projeto.descricao }}</td>   
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
  </body>
</html>